ul{
    list-style:none;
}
h1,h2,h3 {
    text-transform: uppercase;
}
.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.bg-acquagreen {
    background-color: rgb(26, 188, 156);
}

.bg-greyblue {
    background-color: rgb(58, 84, 109);
}

.bg-greybluedark {
    background-color: rgb(44, 62, 80);
}

.text-acquagreen {
    color: rgb(26, 188, 156);
}
.text-white {
    color: white;
}

.star-line {
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 4px;
    border-radius: 15px;
}
.fa-star {
    font-size: 2rem;
}
.fab {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid white;
    border-radius: 50%;
}
.button {
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.show-card {
    height:200px;
    border-radius: 10px;
    background-color: rgb(186, 75, 99);
}

.show-card img {
    width: 150px;
    height: 150px;
}

header a {
    text-transform: uppercase;
}